<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761275308534-bk2pai92mnjkojh791id24hlta3trfqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761275308534-bk2pai92mnjkojh791id24hlta3trfqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAPPxqZHHGDpAA90V-sHECQ6pIUdkTB5EY</string>
	<key>GCM_SENDER_ID</key>
	<string>761275308534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hackatruck.Hear4uApp</string>
	<key>PROJECT_ID</key>
	<string>hear4uapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hear4uapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761275308534:ios:6fc3b72a22823722ed4fd7</string>
	<key>DATABASE_URL</key>
	<string>https://hear4uapp.firebaseio.com</string>
</dict>
</plist>